---
layout: default
title: Recent Notes
---

<section class="recent-notes-page">
  <h1 class="page-title">Recent Notes</h1>

  <div class="posts">
    {% for post in paginator.posts %}
    <div class="post">
      <h1 class="post-title">
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
      </h1>

      <span class="post-date">{{ post.date | date: "%b %d, %Y" }}</span>
      {% include post-excerpt.html post=post limit=180 %}
    </div>
    {% endfor %}
  </div>

  <div class="pagination">
    {% if paginator.next_page %}
      <a class="pagination-item older" href="{{ site.baseurl }}{{ paginator.next_page_path }}">Previous</a>
    {% else %}
      <span class="pagination-item older">Previous</span>
    {% endif %}
    {% if paginator.previous_page %}
      <a class="pagination-item newer" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">Newer</a>
    {% else %}
      <span class="pagination-item newer">Newer</span>
    {% endif %}
  </div>
</section>
